@import "tailwindcss";

@theme {
  /* Membuat animasi kustom popup-slow */
  --animate-popup-slow: popup 2s ease-out forwards;

  /* Keyframes untuk animasi popup */
  @keyframes popup {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}